@model WalkingTec.Mvvm.LayUIDemo.ViewModels.BudgetSubCategoryVMs.BudgetSubCategoryVM

<wt:form vm="@Model" style="height:400px;margin:10px;">
  <wt:row items-per-row="ItemsPerRowEnum.One">
    <wt:combobox field="Entity.BudgetCategoryID" items="AllBudgetCategorys" />
    <wt:textbox field="Entity.SubCategoryName" />
    <wt:textbox field="Entity.Unit" />
  </wt:row>
  <div style="position:absolute;bottom:10px;right:10px;">
    <wt:row align="AlignEnum.Right">
      <wt:submitbutton />
      <wt:closebutton />
    </wt:row>
  </div>
</wt:form>
