@model WalkingTec.Mvvm.LayUIDemo.ViewModels.CityVMs.CityVM

<wt:form vm="@Model" style="height:400px;margin:10px;">
  <wt:row items-per-row="ItemsPerRowEnum.One">
    <wt:combobox field="Entity.ProvinceID" items="AllProvinces" />
    <wt:textbox field="Entity.CityName" />
    <wt:textbox field="Entity.LocationPoint" />
  </wt:row>
  <wt:hidden field="Entity.ID" />
  <div style="position:absolute;bottom:10px;right:10px;">
    <wt:row align="AlignEnum.Right">
      <wt:submitbutton />
      <wt:closebutton />
    </wt:row>
  </div>
</wt:form>
